name: WDL Docs

on:
  push:
    branches:
      - main
      - add-docs
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      -
        name: Set Up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      -
        name: Install cargo-binstall
        run: curl -L --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash
      -
        name: Install Sprocket
        run: |
          cargo-binstall sprocket --version 0.16.0 -y

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.8.10"
          python-version: 3.13.5

      - name: Build docs
        run: |
          # # Join WDL dir specific README's into .wdl files
          # uv run .github/scripts/make-preambles.py
          # Build docs
          sprocket dev doc -v --homepage README.md --logo WILDSWDLLogo.svg .
          # Copy assets to docs directory
          cp -r assets docs/

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
